**/*.pyc
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bin/Makefile
bin/kibot
bin/kibot-control
config.log
config.status
configure
data
depcomp
doc/modulehelp.html
install-sh
kibot-*
kibot.pid
kibot/Options.py
missing
modules/Makefile
py-compile
pymod/Makefile
tools/Makefile
