**/*.pyc
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bin/Makefile
bin/kibot
bin/kibot-control
config.log
config.status
configure
data
depcomp
dist
doc/modulehelp.html
install-sh
kibot-*
kibot.egg-info
kibot.pid
missing
modules/Makefile
py-compile
pymod/Makefile
tools/Makefile
