**/*.pyc
Makefile
Makefile.in
aclocal.m4
autom4te.cache
depcomp
bin/Makefile
bin/kibot
bin/kibot-control
config.log
config.status
configure
doc/modulehelp.html
install-sh
kibot/Options.py
kibot.pid
missing
modules/Makefile
py-compile
pymod/Makefile
tools/Makefile
